# Use internal memory
#CONFIG_JERRYSCRIPT_MALLOC_STRATEGY_INTERNAL=y

# Use external (PSRAM)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_JERRYSCRIPT_MALLOC_STRATEGY_SPIRAM=y
CONFIG_JERRYSCRIPT_HEAP_SIZE=512
